html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    background-image: url('./images/bg-pattern-top-mobile.svg'),url('./images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat;
    display: flex;
}
main {
    margin: auto;
    width: 374px;
    text-align: center;
}
h1, .rating, .card {
    width: 327px;
    margin: auto;
}
h1, h2 {
    color: hsl(300, 43%, 22%);
}
h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1.14px;
}
h2 {
    font-size: 13px;
    line-height: 14.56px;
    font-weight: 700;
}
h3, h4 {
    display: inline-flex;
    padding: 0;
    margin: 0 3em 0 0;
    line-height: 14.56px;
}
h4 {
    color: hsl(333, 80%, 67%);
    font-weight: 400;
    display: block;
    margin-top: .3em;
}
h5 {
    color: #FFFFFF;
    opacity: .9;
    width: 263px;
    line-height: 22px;
    letter-spacing: -0.23px;
    margin: 1em auto auto auto;
    font-size: 13px;
    padding: 0;
    font-weight: 500;
    width: 265px;
}
p {
    color: hsl(303, 10%, 53%);
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.5px;
    height: 100px;
    margin: 1em auto 2em auto;
    width: 327px;
}
.rating {
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    margin: auto auto 1em auto;
    padding-top: 1em;
    padding-bottom: .7em;
    font-size: 13px;
}
#cardholder {
    margin-top: 3em;
}
.card {
    background-color: hsl(300, 43%, 22%);
    color: #FFFFFF;
    border-radius: 10px;
    padding: 1em 1em 3em 1em;
    margin: auto auto 1em auto;
    text-align: left;
    padding: 2em .5em 2em .5em;
}
.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 2em;
}
.namebuyer {
    display: inline-block;
    margin-left: 2em;
}
.attribution {
    display: none;
}


/* desktop */
@media only screen and (min-width: 376px){
    body {
    background-image:
        url('./images/bg-pattern-top-desktop.svg'),
        url('./images/bg-pattern-bottom-desktop.svg');
    background-position:
        top left,
        bottom right;
    background-repeat:
        no-repeat,
        no-repeat;
    }
    main {
        margin: 3em;
    }
    h1 {
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -1.71px;
        position: absolute;
        width: 445px;
        height: 154px;
        left: 165px;
        top: 127px;
        text-align: left;
    }
    h5 {
        font-size: 13px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: -.23px;
    }
    h2 {
        margin: 1em auto 1em auto;
    }
    p {
        font-size: 15px;
        position: absolute;
        width: 445px;
        height: 75px;
        left: 165px;
        top: 287px;
        line-height: 25px;
        letter-spacing: -0.5px;
        text-align: left;
        margin: 0;
    }
    .rating {
        line-height: 14.56px;
        display: flex;
        padding: 1em;
        width: 445px;
        position: absolute;
    }
    .rating img {
        margin: auto;
    }
    .avatar {
        margin-left: 2.5em;
    }
    #rating1 {
        left: 735px;
        top: 145px;
    }
    #rating2 {
        left: 783px;
        top: 227px;        
    }
    #rating3 {
        left: 830px;
        top: 309px;        
    }
    #colton, #irene, #anne {
        position: absolute;
        width: 350px;
    }
    #colton {
        left: 165px;
        top: 434px;
    }
    #irene {
        left: 545px;
        top: 450px;
    }
    #anne {
        left: 925px;
        top: 466px;
    }
}
