html, body {
    height: 100%;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    background-image: url('./images/bg-pattern-top-mobile.svg'),url('./images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat;
    display: flex;
}

main {
    margin: auto;
    width: 80%;
    text-align: center;
}

h1 {
    color: hsl(300, 43%, 22%);
}

h2 {
    color: hsl(300, 43%, 22%);
}

h3, h4 {
    display: inline-flex;
    padding: 0;
    margin: 0;
}

h4 {
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}

p {
    color: hsl(303, 10%, 53%);
    font-weight: 500;
}

.card {
    background-color: hsl(300, 43%, 22%);
    color: #FFFFFF;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
}

.card p {
    color: #FFFFFF;
    opacity: .7;
}

.avatar {
    border-radius: 50%;
}

.attribution {
    display: none;
}

